.content{width: 1200px;margin: 0 auto;height: inherit;overflow: hidden;}
.mianbaoxie{color: #666666;margin-top: 42px;}
.mianbaoxie i{color: #198ff1;margin-right: 11px;}
.mianbaoxie a{color: #666666;margin: 0 5px;}
.mianbaoxie a:hover{color: #198ff1;}