<!-- 留言成功页面 -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="css/comment.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="css/style2.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/iconfont.css">		
	<script type="text/javascript" src="js/jQuery3.31.js"></script>
	<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
	<script src="js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
	<div class="header">
        <div class="fl header_left">
            <span>天津市宁河区教育局欢迎您</span>
            <span>2018年8月16日 星期四</span>
        </div>
        <div class="header_right fr" id="app">
            <input type="text" placeholder="请输入您要搜索的内容" class="input1">         
            <template>
              <el-select v-model="value" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </template>
            <a href="">搜索<i class="iconfont icon-sousuo search"></i></a>
        </div>
    </div>
    <div class="swiper-container banner">
        <div class="logo">
            <a href=""><img src="images/logo.png"></a>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="ceng"></div>
                <img src="images/banner.jpg">
            </div>
            <div class="swiper-slide">
                <div class="ceng"></div>
                <img src="images/banner.jpg">
            </div>
            <div class="swiper-slide">
                <div class="ceng"></div>
                <img src="images/banner.jpg">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-banner"></div>
    </div>
    <div class="daohang">
        <ul>
            <li class="active"><a href=""><i class="iconfont icon-yemian"></i>首页</a></li>
            <li><a href=""><i class="iconfont icon-xinwen1"></i>教育新闻</a></li>
            <li><a href=""><i class="iconfont icon-dangyuan"></i>政务公开</a></li>
            <li><a href=""><i class="iconfont icon-tiaochabianjijilu"></i>网上办事</a></li>
        </ul>
    </div>
    <div class="content content_ly">
    <!-- 面包屑start -->
    	<div class="mianbaoxie">
    		<i class="iconfont icon-weizhi"></i><span>当前位置：</span><a href="javascript:;">首页</a>><a href="javascript:;">网上办事</a>>
    	</div>
	<!-- 面包屑end -->
	<!-- 留言成功start -->
    	<div class="ly_con">
    		<i class="iconfont icon-emichenggong"></i>
    		<p>恭喜您，您的留言已提交成功</p>
    		<p>请耐心等候......</p>
    		<input type="button" value="返回首页">
    	</div>
    <!-- 留言成功end -->

    </div>
    <div class="lianjie">
	    <div class="lianjie_box">
	    	<p>友情链接</p>
			<div class="swiper-container yqlj_lunbo">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<a href=""><img src="images/lianjie1.png"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href=""><img src="images/lianjie2.png"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href=""><img src="images/lianjie3.png"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href=""><img src="images/lianjie4.png"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href=""><img src="images/lianjie5.png"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href=""><img src="images/lianjie6.png"></a>
		            </div>
		            <div class="swiper-slide">
		            	<a href=""><img src="images/lianjie7.png"></a>
		            </div>
		        </div>
		        <!-- Add Arrows -->
		        <div class="swiper-button-next swiper-button-next_yqlj"></div>
		        <div class="swiper-button-prev swiper-button-prev_yqlj"></div>
		    </div>
	    </div>
	</div>
	<div class="footer">
		<div class="footer_box">
			<div class="left fl"><a href=""><img src="images/footer_logo_1.png"></a></div>
			<div class="text fl">
				<a href="" class="fl zbdw">主办单位：天津市宁河区教育局</a>
				<a href="" class="fl cbdw">承办单位：天津市宁河区教育局信息中心</a>
				<a href="">Copyright © 2018 天津市宁河教育网  All Rights Reserved津ICP备13000944号 津教备0168号</a>
			</div>
			<div class="right fl">
				<a href=""><img src="images/footer_logo_2.png"></a>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	//banner轮播
    var swiper = new Swiper('.banner', {
        pagination: '.swiper-pagination-banner',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true,
        autoplay: 2500
    });
    // 链接轮播
    var swiper = new Swiper('.yqlj_lunbo', {
        nextButton: '.swiper-button-next_yqlj',
        prevButton: '.swiper-button-prev_yqlj',
        slidesPerView: 7,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true,
    });
    //搜索下拉
    var Main = {
    data() {
      return {
        options: [{
          value: '选项1',
          label: '全站'
        }, {
          value: '选项4',
          label: '全站'
        }, {
          value: '选项5',
          label: '科室动态'
        }],
        value: ''
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>
